{% extends './base.html' %}
{% load static %}

<title>
    {% block title %}
    {{ actor.name }}
    {% endblock title %}
</title>

{% block container %}
<div class="container py-md-3">
{% endblock container %}
</div>

{% block sidebar %}
<div class="side-bar col-lg-4">
{% endblock sidebar %}
</div>

{% block movie %}
<!-- product right -->
<div class="left-ads-display col-lg-8">
    <div class="row">
        <div class="desc1-left col-md-6">
            <img src="{{ actor.image.url }}" class="img-fluid" alt="">
        </div>

        <div class="desc1-right col-md-6 pl-lg-4">
            <h3 class="editContent" style="outline: none; cursor: inherit;">
                {{ actor.name }}
            </h3>

            <ul>
              <li style="list-style: none">
                    <span>
                        <b>Birthday:</b> {{ actor.age }}
                    </span>
                </li>
                <li>
                    <span>
                        <b>Director:</b>
                            {% for movie in actor.film_director.all %}
                                {{ movie.title }}
                            {% endfor %}
                    </span>
                </li>
                <li>
                    <span>
                        <b>Actors:</b>
                            {% for movie in actor.film_actor.all %}
                                {{ movie.title }}
                            {% endfor %}
                    </span>
                </li>
            </ul>

        </div>
    </div>

    <div class="row sub-para-w3layouts mt-5">

        <h4 class="shop-sing editContent" style="outline: none; cursor: inherit;">
            About {{ actor.name }}
        </h4>
        <p class="editContent" style="outline: none; cursor: inherit;">
            {{ actor.description|safe }}
        </p>
    </div>

</div>
{% endblock movie %}
